<!DOCTYPE html>
<html lang ="en">
    <head>
        <title> To-Do Application</title>
        <link rel ="stylesheet" href="/public/stylesheets/style.css">
    </head>
    <body>
        <h1>To-Do Application</h1>

        <form action ="/add" method="POST">
            <input type ="text" name="newTodo" placeholder="Enter a new Task">
            <button type ="submit">Add</button>
        </form>
        <ul>
            <% todos.forEach((todo,index) => {%>
                <li>
                    <%=todo %>
                    <form action = "/remove/<%=index %>" method = "POST"
                        style="display:inline;">

                        <button type ="submit">Remove</button>
                    </form>
                </li>
            <%}) %>
        </ul>

    </body>
</html>